#lightbox {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 2s ease-in-out;
}

#content-box {
    height: 30%;
    width: 30%;
    background-color: lightgrey;
    overflow: hidden;
    border-radius: 50%;
    text-align: center;
    padding-top: 5px;
}

#lightbox:target {
    height: 100%;
    width: 100%;
    font-size: 1.5rem;
    color: red;
    background: radial-gradient( red, blue, cyan);
    box-shadow: 0xpx 0px 30px red;
    opacity: 0.9;
}

#content-box a {
    text-decoration: none;
    border: 1px solid red;
    overflow: hidden;
    background-color: red;
    color: black;
    opacity: 0.6;
    border-radius: 20px;
    text-align: center;
}

#lightbox-switch a {
    border: 1px solid red;
    background-color: antiquewhite;
    padding: 20px 20px 20px 0px;
    overflow: hidden;
    top: 0px;
    left: 0px;
    margin-left: -5px;
}

#lightbox-switch a:visited {
    color: red;
}

#lightbox-switch a {
    text-decoration: none;
}